<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>QLGenerator</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.sourceforge.openbabel.gpr</string>
				<string>net.sourceforge.openbabel.mol2</string>
				<string>net.sourceforge.openbabel.xyz</string>
				<string>net.sourceforge.openbabel.pdb</string>
				<string>net.sourceforge.openbabel.cml</string>
				<string>net.sourceforge.openbabel.mdl</string>
				<string>net.sourceforge.openbabel.gamout</string>
				<string>net.sourceforge.openbabel.qcout</string>
				<string>com.gaussian.cube</string>
				<string>com.gaussian.input</string>
				<string>com.gaussian.output</string>
				<string>com.gaussian.fchk</string>
				<string>com.cambridgesoft.cdx</string>
				<string>com.cambridgesoft.cdxml</string>
				<string>org.iucr.cif</string>
				<string>com.mdl.molfile</string>
				<string>com.mdl.sdfile</string>
				<string>com.ichemlabs.chemdoodle.js</string>
				<string>com.chemaxon.mrv</string>
				<string>gov.nih.nlm.ncbi.pubchem.pcjson</string>
				<string>de.gwdg.gwdg.shelx.ins</string>
				<string>de.gwdg.gwdg.shelx.res</string>
				<string>com.hyper.hin</string>
				<string>com.daylight.smiles</string>
				<string>org.iupac.inchi</string>
				<string>com.cdx</string>
				<string>com.cdxml</string>
				<string>com.cml</string>
				<string>com.inchi</string>
				<string>com.mol2</string>
				<string>com.pdb</string>
				<string>com.xyz</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>net.openmolecules.chemlook</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleShortVersionString</key>
	<string>${CURRENT_PROJECT_VERSION}</string>
	<key>CFBundleVersion</key>
	<string>${CURRENT_PROJECT_VERSION}</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2010-2014 Geoffrey Hutchison</string>
	<key>CFPlugInDynamicRegisterFunction</key>
	<string></string>
	<key>CFPlugInDynamicRegistration</key>
	<string>NO</string>
	<key>CFPlugInFactories</key>
	<dict>
		<key>95122804-D95A-4D5C-B642-077ECF95303D</key>
		<string>QuickLookGeneratorPluginFactory</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>5E2D9680-5022-40FA-B806-43349622E5B9</key>
		<array>
			<string>95122804-D95A-4D5C-B642-077ECF95303D</string>
		</array>
	</dict>
	<key>CFPlugInUnloadFunction</key>
	<string></string>
	<key>QLNeedsToBeRunInMainThread</key>
	<true/>
	<key>QLSupportsConcurrentRequests</key>
	<true/>
	<key>QLPreviewHeight</key>
	<integer>600</integer>
	<key>QLPreviewWidth</key>
	<integer>800</integer>
	<key>QLThumbnailMinimumSize</key>
	<integer>64</integer>
	<key>QLDisableIconCorners</key>
	<true/>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Gaussian CUBE</string>
			<key>UTTypeIdentifier</key>
			<string>com.gaussian.cube</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cub</string>
					<string>cube</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Gaussian Output</string>
			<key>UTTypeIdentifier</key>
			<string>com.gaussian.output</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>g92</string>
					<string>g94</string>
					<string>g98</string>
					<string>g03</string>
					<string>g09</string>
					<string>gal</string>
					<string>out</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Gaussian Formatted Checkpoint</string>
			<key>UTTypeIdentifier</key>
			<string>com.gaussian.fchk</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>fchk</string>
					<string>fch</string>
					<string>fck</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Gaussian Input</string>
			<key>UTTypeIdentifier</key>
			<string>com.gaussian.input</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>gjf</string>
					<string>gjc</string>
					<string>gzmat</string>
					<string>gau</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>GAMESS Output</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.openbabel.gamout</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>gamess</string>
					<string>gamout</string>
					<string>gam</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Q-Chem Output</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.openbabel.qcout</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>qcout</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Ghemical Project</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.openbabel.gpr</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>gpr</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>chemical/x-ghemical-project</string>
					<string>chemical/x-ghemical</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Tripos Mol2</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.openbabel.mol2</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mol2</string>
					<string>ml2</string>
					<string>sy2</string>
				</array>
				<key>public.mime-type</key>
				<string>chemical/x-mol2</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>XYZ Molecule</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.openbabel.xyz</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>xyz</string>
				</array>
				<key>public.mime-type</key>
				<string>chemical/x-xyz</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Protein Databank Document</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.openbabel.pdb</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>pdb</string>
					<string>ent</string>
				</array>
				<key>public.mime-type</key>
				<string>chemical/x-pdb</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MDL Molfile</string>
			<key>UTTypeIdentifier</key>
			<string>com.mdl.molfile</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>mMOL</string>
					<string>m300</string>
					<string>MDL~</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>mdl</string>
					<string>mol</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>chemical/x-mdl-molfile</string>
					<string>chemical/x-molfile</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MDL SDFile</string>
			<key>UTTypeIdentifier</key>
			<string>com.mdl.sdfile</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>sdf</string>
					<string>sd</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>chemical/x-sdlfile</string>
					<string>chemical/x-mdl-sdfile</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Chemical Markup Language</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.openbabel.cml</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cml</string>
				</array>
				<key>public.mime-type</key>
				<string>chemical/x-cml</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Cambridgesoft ChemDraw XML</string>
			<key>UTTypeIdentifier</key>
			<string>com.cambridgesoft.cdxml</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>CdxM</string>
				<key>public.mime-type</key>
				<array>
					<string>chemical/x-cdxml</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>cdxml</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Cambridgesoft ChemDraw Exchange</string>
			<key>UTTypeIdentifier</key>
			<string>com.cambridgesoft.cdx</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>CHMS</string>
				<key>public.filename-extension</key>
				<array>
					<string>cdx</string>
				</array>
				<key>public.mime-type</key>
				<string>chemical/x-cdx</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Crystallographic Information File</string>
			<key>UTTypeIdentifier</key>
			<string>org.iucr.cif</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cif</string>
				</array>
				<key>public.mime-type</key>
				<string>chemical/x-cif</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.json</string>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ChemDoodle JSON</string>
			<key>UTTypeIdentifier</key>
			<string>com.ichemlabs.chemdoodle.js</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cdjson</string>
					<string>cwc.js</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>javascript/x-chemdoodle</string>
					<string>chemical/x-cdjson</string>
					<string>chemical/x-chemdoodle-json</string>
					<string>application/json</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.json</string>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>PubChem JSON</string>
			<key>UTTypeIdentifier</key>
			<string>gov.nih.nlm.ncbi.pubchem.pcjson</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>pcjson</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>javascript/x-pubchem</string>
					<string>chemical/x-pcjson</string>
					<string>chemical/x-pubchem-json</string>
					<string>application/json</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ChemAxon Marvin Document</string>
			<key>UTTypeIdentifier</key>
			<string>com.chemaxon.mrv</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mrv</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>chemical/x-chemaxon-mrv</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>SHELX INS</string>
			<key>UTTypeIdentifier</key>
			<string>de.gwdg.gwdg.shelx.ins</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ins</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>chemical/x-shelx</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>SHELX RES</string>
			<key>UTTypeIdentifier</key>
			<string>de.gwdg.gwdg.shelx.res</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>res</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>chemical/x-shelx</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>HyperChem HIN</string>
			<key>UTTypeIdentifier</key>
			<string>com.hyper.hin</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>hin</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>chemical/x-hin</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Daylight SMILES</string>
			<key>UTTypeIdentifier</key>
			<string>com.daylight.smiles</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>smiles</string>
					<string>smi</string>
					<string>can</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>chemical/x-daylight-smiles</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>IUPAC InChI</string>
			<key>UTTypeIdentifier</key>
			<string>org.iupac.inchi</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>inchi</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>chemical/x-inchi</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
